.categorias__lista{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/*tablet*/

@media screen and (min-width:720px){
    .categorias__lista{
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }
}

.destaques{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.destaques__barra{
    flex-grow: 1;
    flex-grow: 1;

}

